<header ng-controller="HomeController">
    <div class="ui teal inverted menu">
        <div class="item left">
            <h2>Synote</h2>
        </div>

        <!-- todo - display points on hover -->
        <a class="item">
              {{userData.email}}
        </a>
    </div>
</header>
<div class="container" ng-init="displayUsername()">
    <br>
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui left floated stacked segments">
                <div class="ui segment">
                    <i style="color: grey;font-size: 2em;" class="user icon"></i> {{userData.email}}
                </div>
                <div class="ui segment">
                    <i style="color: gold;font-size: 2em;" class="trophy icon"></i>{{userData.repScore}} pts
                </div>
                <div class="ui segment">
                    <button ng-click="logout()"class="ui button">
                        Logout
                    </button>
                </div>
            </div>
        </div>
        <div class="one wide column">
        </div>
        <div class="eleven wide column">
            <h1>View Transcripts</h1>


            <div class="ui cards" ng-repeat="t in transcripts">
                <div class="card">
                    <div class="content">
                        <div class="header">
                            <a ng-href={{t.href}}>{{t.title}}</a>
                        </div>
                        <div class="meta">{{t.author}}</div>
                        <div class="description">
                            {{t.desc}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
