<header>
    <div class="ui teal inverted menu">
        <div class="item left">
            <h2>Synote</h2>
        </div>
        <!--  <a class="item">
              Help
            </a>
            <a class="item">
              Tutorial
            </a> -->
        <a href="#/home" class="item">
            Home
        </a>
        <a href="#/my-teams" class="item">
            My Teams
        </a>
        <!-- todo - display points on hover -->
        <a class="item">
              email@gmail.com
            </a>
    </div>
</header>

<div class="container">
  <h1>A Team</h1>  
</div>
