<br>
<div class="container" ng-controller="LoginController">
    <div class="jumbotron  middle">
        <div class="ui centered grid">
        	<div class="">
        		
        	
            <h1> Synote </h1>
            <br>
           
            <!-- input -->
            <div class="ui input">
                <input ng-model="email" name="email" type="text" placeholder="Email">
            </div>
            <br>
            <br>
            <div class="ui input">
                <input ng-model="password" type="password" name="password" placeholder="Password">
            </div>
            <br>
            <br>
           
            <!-- buttons -->
            <button ng-click="login()" class="positive ui button">Login</button>
            <button class="ui positive basic button" ng-click="register()">Register</button>
            </div>
           
        </div>
    </div>
</div>